* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

.navbar {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-areas: "principal accesorio griferia ceramica  porcelanatos  logo";
  padding: 25px;
  border: 5px;
  width: 100 max-content;
  list-style: none;
}
.navbar a {
  text-decoration: none;

  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-size: x-large;
  box-shadow: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.accesorio {
  grid-area: accesorio;
  margin: 20px;
}

.griferia {
  grid-area: griferia;
  margin: 20px;
}

.ceramica {
  grid-area: ceramica;
  margin: 20px;
}

.porcelanatos {
  grid-area: porcelanatos;
  margin: 20px;
}

.logo {
  grid: logo;
  margin: 20px;
}

.principal {
  grid-area: principal;

  text-align: center;
}
